---
layout: page
title: Skylab
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">Scalable, Efficient, Customized AI for Your Business.</h1>
          <p class="animated fadeInUp">Unlock your business values with our tailor-made artificial intelligence solutions.</p>
          <a href="#" class="btn btn-call-to-action">Talk to an expert</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">

    <div class="row">
      <div class="col-md-12 text-sm-center">
        <p>Take the leap and gain business advantage by leveraging the power of AI now. In the era of AI, you can identify trends and patterns or make accurate predictions and diagnoses with ease. Witness how AI may impact you with proven data science and machine learning algorithms, and how it drives digital transformation and automation for your business.</p>

      </div
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12 text-sm-center">
        <div class="block">
          <div class="section-title">
            <h2>Data Warehouse</h2>
            <h5>You can build an end-to-end data pipeline to capture raw data and transform into meaningful, actionable insights. Experience how AI empowers data science and helps you make smarter decisions.</h5>
          </div>
          <p>Data Collection</p>
          <ul class="feature-list">
            <li>Crawler</li>
            <li>API Integration</li>
            <li>Data warehouse development</li>
          </ul>
          <p>Data Development</p>
          <ul class="feature-list">
            <li>Data pipeline development</li>
            <li>Storage architecture</li>
          </ul>
          <p>Data Analysis</p>
          <ul class="feature-list">
            <li>Implementation of analytics</li>
            <li>Training of neural network</li>
          </ul>
          <p>Data Visualization</p>
          <ul class="feature-list">
            <li>Reporting development and optimization</li>
          </ul>
          <a href="#" class="btn btn-call-to-action">Talk to an expert</a>
        </div>
      </div><!-- .col-md-7 close -->

      <div class="col-md-6 col-sm-12 text-sm-center">
        <div class="block">
          <div class="section-title">
            <h2>Machine Learning</h2>
            <h5>Explore the immense possibilities with cutting-edge machine learning technologies such as image classification, facial recognition or NLP. See how these technologies solve your pain points and grow a thriving business.</h5>
          </div>
          <ul>
            <p>Image Classification</p>
            <p>Facial Recognition</p>
            <p>Sequence-to-sequence models</p>
            <p>Natural Language Processing</p>
            <p>Generative Models for Images Generation / Sound Synthesis</p>
            <p>Sound and Signal Processing</p>
          </ul>

          <a href="#" class="btn btn-call-to-action">Talk to an expert</a>
        </div>
      </div>

<!--       <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div>--> 
      <!-- .col-md-5 close --> 
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>Solutions</h2>
      <p>Explore the capabilities of AI and see how innovation could be applied to your business. Various scopes of business solutions are ready to solve your pain points. What if they don't fit your challenge? No problem, we create a unique solution for you.</p>
<!--       <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p> -->

       <h5>Discover Our solutions:</h5>
       <p><a href="{{site.base-url}}/discover-by-industry" class="btn btn-view-works"> by Industry</a> &nbsp
      <a href="{{site.base-url}}/discover-by-function" class="btn btn-view-works">by Function</a></p>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
 <section id="service">
  <div class="container">
    <div class="row">
           <div class="section-title">
        <h2>Products</h2>
        <p>See how AI brings visible changes to your business. Maximize the outcomes with the following solutions:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Optical Character Recognition (OCR)</h4>
          <p>Let OCR reads data form capturer for you</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>AI-powered Store Visitor Counter</h4>
          <p>Get business insights by knowing your customers</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>Image / Object Classification</h4>
          <p>Powerful search that free your brain memory by understanding images </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Pose Recognition</h4>
          <p>A robust, fast way to recognize postures </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Face Recognition</h4>
          <p>Lock security, or unlock business opportunities with face </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Personalized Recommendation Engine </h4>
          <p>Win-win situation for customer satisfaction and lead generation </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Chatbot</h4>
          <p>Solve customer's enquiry even at midnight with chatbot, in human tone </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Tailored Prediction/Forecast Model</h4>
          <p>Obtain goldmine insights from info noises </p>
        </div>
      </div> 
    </div>
  </div>
</section>


<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Latest Technology</h2>
        <p>Trusted by Startups and Enterprises. Developed reliable machine learning solutions.</p>

        <img width="150" height="150" style="margin:10px; background:#eee;" alt="Tensorflow">
        <img width="150" height="150" style="margin:10px; background:#eee" alt="Sci-kit learn">
        <img width="150" height="150" style="margin:10px; background:#eee" alt="DASK">
        <img width="150" height="150" style="margin:10px; background:#eee" alt="NumPy">
        <img width="150" height="150" style="margin:10px; background:#eee" alt="Hadoop">

      </div>
    </div>

  </div>
</section>


<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Why Skylab is different</h2>
        <p>
          <div class="row">
          <div class="col-md-3 col-md-offset-2">
          <img width="150" height="150" style="margin:10px; background:#eee"><br>Experienced</div>
          <div class="col-md-3"><img width="150" height="150" style="margin:10px; background:#eee"><br>Total Solution</div>
          <div class="col-md-3"><img width="150" height="150" style="margin:10px; background:#eee"><br>Custom-made</div>

          </div>
        </p>

          <br>
          <h4>
          We are not just another division for AI technology. <br><br>
          We create values to your business.<br><br>
          We create partnership with YOU.<br><br>
          </h4>
            <br>

          <p>
          Skylab division is fully supported by <a href="https://oursky.com/">Oursky</a>, the award-winning Hong Kong-based software company. 
          <br>We have accumulated 10+ years experience of working with enterprises and startups all over the world, bringing fruitful outcomes to their business.
          </p>

          <p>
          Here you can find a complete suite of end-to-end solutions for your business. We offer a matrix of business logic and edgy technology to help you evolve and gain business advantage over your competitors. At the same time, our startup attitude enforces an agile, strategy-driven approach to work with you. Our AI specialists don't just focus on technology. Our ultimate goal is to provide the best-customized solutions to achieve your business objectives. Our robust engineering background also shows the root and heritage of craftsmanship. Through partnering with us, you will see how we are committed to absolute quality and reliable deliverables. 
          </p>

          <a class="btn btn-default btn-call-to-action" href="#">About Oursky</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Trusted Partners</h2>
        <p>Trusted by Startups and Enterprises. Developed reliable machine learning solutions.</p>

        <p>
          <img width="150" height="150" style="margin:10px; background:#eee">
          <img width="150" height="150" style="margin:10px; background:#eee">
          <img width="150" height="150" style="margin:10px; background:#eee">
          <img width="150" height="150" style="margin:10px; background:#eee">
          <img width="150" height="150" style="margin:10px; background:#eee">
        </p>

      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <a href="#" class="btn btn-view-works">Schedule a Demo</a>
      </div>
    </div>
<!--     <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div> -->
  </div>
</section>