
<!-- Service Start -->
 <section id="service">
  <div class="container">
    <div class="row">
           <div class="section-title">
        <h2>Case Studies and Solutions</h2>
        <p>See how AI brings visible changes to your business. Maximize the outcomes with the following solutions:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <a href="{{ site.baseurl }}{% post_url 2019-03-03-product-optical-character-recognition %}">
          <div class="service-item">
            <i class="icon ion-coffee"></i>
            <h4>Form-to-Structured-Data Converter</h4>
            <p>Extract data from paper forms and automate converting into a digital, structured format on mobile. All in seconds.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-6">
        <a href="{{ site.baseurl }}{% post_url 2019-03-03-product-ai-powered-store-visitor-counter %}">
          <div class="service-item">
            <i class="ion-compass"></i>
            <h4>AI-powered Store Visitor Counter</h4>
            <p>Generate store insights by getting know your customers. Grow your retail store profitably with measurement of store traffic, and further dig into details of consumer behaviors at physical stores.</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-6">
        <a href="{{ site.baseurl }}{% post_url 2019-03-03-product-image-object-classification %}">
          <div class="service-item">
            <i class="ion-image"></i>
            <h4>Personalized Recommendation Engine</h4>
            <p>Personalization is the heart of customer experience. Our smart personalized recommendation engine brings you closer to customer true needs and maximize conversion rate by analyzing tracked individual browsing behaviors. </p>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-6">
        <a href="{{ site.baseurl }}{% post_url 2019-03-03-product-pose-recognition %}">
          <div class="service-item">
            <i class="ion-bug"></i>
            <h4>Tailored Prediction/Forecast Model</h4>
            <p>Get your forecast more accurate than ever. Predict your success by training a tailor-made Machine Learning model for your use case.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
