<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Latest Technology</h2>
        <p>Adopt the latest technology to revolutionize your business.</p>

        <img width="150" height="150" style="margin:10px; background:#eee;" alt="Tensorflow">
        <img width="150" height="150" style="margin:10px; background:#eee" alt="Sci-kit learn">
        <img width="150" height="150" style="margin:10px; background:#eee" alt="DASK">
        <img width="150" height="150" style="margin:10px; background:#eee" alt="NumPy">
        <img width="150" height="150" style="margin:10px; background:#eee" alt="Hadoop">

      </div>
    </div>

  </div>
</section>