<section id="testimonial" class="technology">
  <div class="container">
    <div class="row">
      <div class="block">
        <div class="section-title text-center">
          <h2>Latest Technology</h2>
          <p>Adopt the latest technology to revolutionize your business.</p>
          <img width="72" height="72" style="margin:10px;" src="img/technology/tensorflow.png" alt="Tensorflow">
          <img width="72" height="72" style="margin:10px;" src="img/technology/scikit-learn.png" alt="Sci-kit learn">
          <img width="72" height="72" src="img/technology/keras.png" style="margin:10px;" alt="Keras">
          <img width="72" height="72" style="margin:10px;" src="img/technology/numpy.png" alt="NumPy">
          <img width="72" height="72" src="img/technology/dask.png" style="margin:10px;" alt="DASK">
          <img width="72" height="72" src="img/technology/hadoop.png" style="margin:10px;" alt="Hadoop">
        </div>
      </div>
    </div>
  </div>
</section>
