
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Trusted Partners</h2>
        <p>We co-create intelligent products with our partners worldwide. </p>

        <p>
          <img width="150" height="150" style="margin:10px; background:#eee">
          <img width="150" height="150" style="margin:10px; background:#eee">
          <img width="150" height="150" style="margin:10px; background:#eee">
          <img width="150" height="150" style="margin:10px; background:#eee">
          <img width="150" height="150" style="margin:10px; background:#eee">
        </p>

      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <h3></h3>
        <a href="#" class="btn btn-view-works">Ready to get started</a>
      </div>
    </div>
<!--     <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div> -->
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">

       <h3>Customize Your Machine Learning Solution with Skylab.AI</h3>
       <p>
       </p>
       <p><a href="{{site.base-url}}/" class="btn btn-view-works"> Ready to get started</a> &nbsp
      </p>
    </div>
  </div>
</div>
</section>
