<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row footer-content">
      <div class="col-md-6">
        <div class="footer-manu">
          <a href="/"><div class="skylab-logo"></div></a>
          <ul>
            <li><a href="https://facebook.com/oursky.hk/" target="_blank">Facebook</a></li>
            <li><a href="https://twitter.com/oursky" target="_blank">Twitter</a></li>
            <li><a href="https://www.linkedin.com/company/oursky-limited/" target="_blank">Linkedin</a></li>
            <li><a href="https://github.com/oursky" target="_blank">GitHub</a></li>
          </ul>
        </div>
        
      </div>
      <div class="col-md-2">
        <ul>
          <li><a href="{{ site.baseurl }}/about">About Skylab</a></li>
          <li><a href="{{ site.baseurl }}/contact">Our Company</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul>
          <li><a href="{{ site.baseurl }}/discover-by-industry">Solutions</a></li>
          <li><a href="{{ site.baseurl }}/discover-by-industry">Form to Structure Data</a></li>
          <li><a href="{{ site.baseurl }}/discover-by-industry">Visitor Counting</a></li>
          <li><a href="{{ site.baseurl }}/discover-by-industry">Prediction Model</a></li>
          <li><a href="{{ site.baseurl }}/discover-by-industry">Recommendation Engine</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul>
          <li><a href="{{ site.baseurl }}/contact">Get in touch</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="footer-splitter">
  <div class="container oursky-container">
    <div class="row">
      <div class="col-md-12">
        <a href="https://oursky.com" target="_blank"><div class="oursky-logo"></div></a>
        <p>&copy; 2018-2019 All rights reserved.  <a href="https://skylab.ai">Skylab.ai</a> | <a href="https://oursky.com" target="_blank">Oursky</a></p>
      </div>
    </div>
  </div>
</footer>
