<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Why Skylab is different</h2>
        <p>
          <div class="row">
          <div class="col-md-3 col-md-offset-2">
          <img width="150" height="150" style="margin:10px; background:#eee"><br>Experienced</div>
          <div class="col-md-3"><img width="150" height="150" style="margin:10px; background:#eee"><br>Total Solution</div>
          <div class="col-md-3"><img width="150" height="150" style="margin:10px; background:#eee"><br>Custom-made</div>

          </div>
        </p>

          <br>Skylab is a team of inspired and talented Machine Learning experts from <a href="https://oursky.com/">Oursky </a>, the award-winning Hong Kong-based software company which accumulated 10+ years experience of working with companies of all sizes around the world, driving successful digital transformation and fruitful outcomes to their business.


          </p>

          <p>
          By leveraging our proven expertise ranging across artificial intelligence, automation and data analytics, you can turn your opportunities to actionable AI implementation and grow your business rapidly.  
          </p>

          <a class="btn btn-default btn-call-to-action" href="#">About Us</a>
        </div>
      </div>
    </div>
  </div>
</section>

