<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <h2>Why Skylab is different</h2>
    <div class="row">
      <div class="col col-md-6">
        <div class="block">
          <div class="row logo-container">
            <div class="col-xs-4 text-center"><img width="50" height="50" style="margin:10px;" src="img/icon-experienced.svg"><br>Experienced</div>
            <div class="col-xs-4 text-center"><img width="50" height="50" style="margin:10px;" src="img/icon-totalSolution.svg"><br>Total Solution</div>
            <div class="col-xs-4 text-center"><img width="50" height="50" style="margin:10px;" src="img/icon-customMade.svg"><br>Custom-made</div>
          </div>
        </div>
      </div>
      <div class="col col-md-6 text-sm-center">
        <p>
        Skylab is a team of inspired and talented Machine Learning experts from <a href="https://oursky.com/">Oursky </a>, the award-winning Hong Kong-based software company which accumulated 10+ years experience of working with companies of all sizes around the world, driving successful digital transformation and fruitful outcomes to their business.
        </p>
        <p>
        By leveraging our proven expertise ranging across artificial intelligence, automation and data analytics, you can turn your opportunities to actionable AI implementation and grow your business rapidly.  
        </p>

        <a class="btn btn-default btn-call-to-action" href="#">About Us</a>
      </div>
    </div>
  </div>
</section>

