<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>Solutions</h2>
      <p>Explore the capabilities of AI and see how innovation could be applied to your business. Various scopes of business solutions are ready to solve your pain points. What if they don't fit your challenge? No problem, we create a unique solution for you.</p>

       <h5>Discover Our solutions:</h5>
       <p><a href="{{site.base-url}}/discover-by-industry" class="btn btn-view-works"> by Industry</a> &nbsp
      <a href="{{site.base-url}}/discover-by-function" class="btn btn-view-works">by Function</a></p>
    </div>
  </div>
</div>
</section>
