
@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');

/* var text-decoration */
/*--
	Common Css
--*/
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}
h2 {
  font-size: 30px;
  font-weight: 400;
}
h3 {
  font-size: 28px;
  font-weight: 300;
}
p {
  font-size: 15px;
  line-height: 28px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
  color: #3773FF;
}
.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  font-size: 28px;
  font-weight: 600;
}
.section-title p {
  color: #666;
}
/*--
	Header Start
--*/
header {
  background: none;
  padding: 10px .9375rem;
  -webkit-backdrop-filter: blur(10px);
  padding: 2px 0 10px;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 999;
  &.bg {
    background: rgba(0,0,0,.2);
  }
}
header .navbar {
  margin-bottom: 0px;
  border: 0px;
}
header .navbar-brand {
  padding-top: 5px;
}
header .navbar-default {
  background: none;
  border: 0px;
}
header .navbar-default .navbar-nav {
  padding-top: 10px;
}
header .navbar-default .navbar-nav li a {
  color: #fff;
  padding: 10px 26px;
  font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}
header .navbar-default .navbar-nav li a:hover {
  color: #3773FF;
}

header .navbar-header .logo {
  margin-top: 15px;
}

header .navbar-header .logo,
header .navbar-header .logo a {
  color: #28A5BB;
  font-size: 2.3rem;
}

header .navbar-header .logo .skylab-logo {
  width: 114px;
  height: 21px;
  background-size: 114px 21px;
  background-image: url("../img/logo-skylab.svg")
}

header .navbar-header .logo .by-oursky,
header .navbar-header .logo .by-oursky a {
  font-size: 1rem;
  color: #fff;
  padding-top: 4px;
  text-transform: uppercase;
}

header .navbar-nav .cta {
  border-radius: 4px;
  border: #fff solid 1px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  margin-left: 30px;
}

header .navbar-default .navbar-nav li a.cta:hover {
  background-color: #fff;
  font-size: 15px;
  color: #3773FF;
}

/*---------------------------------------------
					Index Start
-----------------------------------------------*/
/*--
	Slider Start
--*/
#slider {
  background: #fe711c;
  position: relative;
  height: 100vh;
  min-height: 600px;
}
#sliderImg {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/skylab-hero.png") no-repeat;
  /*background-attachment: fixed;*/
  background-position: center center;
  background-size: 110vw auto;
}

#slider .block {
  color: #fff;
  padding: 100px 0 180px 0;
}
#slider .block h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 4px;
  padding-bottom: 45px;
  font-feature-settings: "liga" 0;
  text-transform: uppercase;
  padding-top: 80px;
}
#slider .block p {
  font-size: 23px;
  line-height: 40px;
  font-weight: 400;
  font-feature-settings: "liga" 0;
}

#slider a.btn-call-to-action {
  padding: 15px 35px;
  border: none;
  font-size: 15px;
  background-color: transparent;
  color: #fff;
  border: 1px #fff solid;
  margin-top: 30px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#slider a.btn-call-to-action:hover {
  background-color: #fff;
  font-size: 15px;
  color: #3773FF;
}
/*--
	wrapper Start
--*/
#intro {
  padding: 80px 0;
}
#intro h2 {
  font-size: 22px;
  font-family: 'Raleway';
  line-height: 35px;
  padding-bottom: 25px;
  line-height: 27px;
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  color: #3773FF;
}
#intro .desc {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 22px;
  color: #757575;
  letter-spacing: auto;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 3rem;
}

#intro h3 {
  font-family: 'Raleway';
  letter-spacing: 2px;
  text-transform: uppercase;
}
#intro p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #757575;
  line-height: 22px;
  font-weight: 500;
}
#intro .block img {
  padding-left: 40px;
  width: 100%;
}
#intro .section-title {
  margin-bottom: 0px;
}
#intro .section-title p {
  padding-top: 20px;
}
#intro .feature-list {
  margin-left: 20px;
}

#intro .feature-list li:before {
    content:"✓ ";
    font-size: 20px;
    vertical-align:middle;
    line-height:20px;
}
#intro .btn-call-to-action {
  padding: 15px 35px;
  border: none;
  background-color: #3155A5;
  font-size: 15px;
  color: #fff;
  margin-top: 30px;
}

#intro .our-services {
  min-height: 220px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#intro .our-services h3 {
  font-size: 18px;
  font-weight: 800;
}
/*--
	service Start
--*/
#service {
  padding: 90px 0;
  text-align: center;
}

#service h2 {
  font-size: 22px;
  font-family: 'Raleway';
  line-height: 35px;
  padding-bottom: 25px;
  line-height: 27px;
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  color: #3773FF;
}

#service .service-item {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  border: #ddd solid 1px;
  min-height: 150px;
}
#service .service-item i {
  font-size: 60px;
  color: #4A4656;
}
#service .service-item h4 {
  padding-top: 8px;
  margin: 0;
  color: #666;
  text-align: left;
}
#service .service-item p {
  color: #888;
  padding-top: 10px;
  margin: 0;
  font-size: 14px;
  line-height: 1.8;
}

#service .view-all {
  text-align: center;
}

#service .view-all h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  color: #333;
  font-size: 13px;
  margin-bottom: 20px;
}

#service .view-all .btn {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #3773FF;
  letter-spacing: 0;
  border: 1px solid #3773FF;
  text-align: center;
  padding: 10px 20px;
  width: 180px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

#service .view-all .btn:hover {
  color: #fff;
  background-color: #3773FF;
}

#service .highlight-banner {
  width:100%;
  height: 160px;
  background: #eee;
}

#service .case-container {
  text-align: left;
}

#service .case1 .highlight-banner {
  background-size: cover;
  background-image: url("../img/cases/case-formocr.jpg")
}

#service .case2 .highlight-banner {
  background-size: cover;
  background-image: url("../img/cases/case-ai-store.jpg")
}

#service .case3 .highlight-banner {
  background-size: cover;
  background-image: url("../img/cases/case-personalized-recommendation-engine.jpg")
}

#service .case4 .highlight-banner {
  background-size: cover;
  background-image: url("../img/cases/case-forecast-model.jpg")
}

/*--
	call-to-action Start
--*/
#call-to-action {
  background-color: #F7F7F7;
  padding: 70px 0px;
  position: relative;
  color: #333333;
}

#call-to-action h2 {
  font-size: 22px;
  font-family: 'Raleway';
  line-height: 35px;
  padding-bottom: 25px;
  line-height: 27px;
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  color: #3773FF;
}

#call-to-action .logo-container {
  margin-top: 40px;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-family: 'Raleway';
  font-weight: 600;
}
#call-to-action p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  color: #333333;
}
#call-to-action .btn-call-to-action {
  padding: 10px 35px;
  border: 1px solid #3773FF;
  background-color: transparent;
  font-size: 15px;
  color: #3773FF;
  margin-top: 30px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
#call-to-action .btn-call-to-action:hover {
  color: #fff;
  background-color: #3773FF;
}
/*--
	Feature Start
--*/
#feature {
  background: url("../img/cta-background.jpg");
  background-position: 50% 94px;
  width: 100%;
  display: block;
  position: relative;
  overflow: visible;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 100px 0;
}
#feature h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #fff;
  font-family: "Raleway";
  line-height: 1.8;
}
#feature p {
  color: #8d8f92;
  margin-bottom: 20px;
}
#feature .btn-view-works {
  background: #E57546;
  color: #fff;
  padding: 10px 20px;
  width: 178px;
}

#feature .btn-view-works:hover {
  color: #E57546;
  background-color: #fff;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  border: #E57546 solid 1px;
}
/*--
	content Start
--*/
#testimonial {
  padding-top: 40px;
}
#testimonial h2 {
  line-height: 18px;
  font-family: "Raleway";
  color: #5C5C5C;
  text-transform: uppercase;
}
#testimonial p {
  color: #7B7B7B;
}
#testimonial .counter-box li {
  width: 50%;
  float: left;
  text-align: center;
  margin: 30px 0 30px;
}
#testimonial .counter-box li i {
  font-size: 35px;
}
#testimonial .counter-box li h4 {
  font-size: 30px;
  font-weight: bold;
}
#testimonial .counter-box li span {
  color: #555;
}
#testimonial .testimonial-carousel {
  text-align: center;
  width: 75%;
  border: 1px solid #DEDEDE;
  padding: 24px;
  margin: 0 auto;
}
#testimonial .testimonial-carousel img {
  padding-bottom: 38px;
}
#testimonial .testimonial-carousel p {
  line-height: 28px;
  font-weight: 300;
  padding-bottom: 20px;
}
#testimonial .testimonial-carousel .user img {
  padding-bottom: 0px;
  border-radius: 500px;
}
#testimonial .testimonial-carousel .user p {
  padding-bottom: 0;
  font-size: 12px;
  line-height: 20px;
  color: #353241;
}
#testimonial .testimonial-carousel .user p span {
  display: block;
  color: #353241;
  font-weight: 600;
}
#testimonial .testimonial-carousel .owl-carousel .owl-pagination div {
  border: 1px solid #1D1D1D;
  border-radius: 500px;
  display: inline-block;
  height: 10px;
  margin-right: 15px;
  width: 10px;
}
#testimonial .testimonial-carousel .owl-carousel .owl-pagination div.active {
  background: #5C5C5C;
  font-size: 30px;
  display: inline-block;
  border: 0px;
}
#testimonial .btn-view-works {
  background: #28A5BB;
  color: #fff;
  padding: 10px 20px;
}

.technology {
  background: #F8F1EB;
}
/*--
	features Start
--*/
#clients-logo-section {
  padding-top: 30px;
  padding-bottom: 75px;
}
#clients-logo-section .clients-logo-img {
  padding: 0px 50px;
}



/*--
Stats
--*/

#stats {
  background: #F7F7F7;
  padding:50px 0 80px;

  h2 {
    color: #5C5C5C;
    text-transform: uppercase;
  }

}

.stats__count {
  font-size: 42px;

}

.stats__footnotes{
  font-size: 11px;
  color: #aaa;
  padding-top: 20px;
}


/*---------------------------------------------
					Work Start
-----------------------------------------------*/
/*--
	Slider-work Start
--*/
#global-header {
  background: #000;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 107px;
  position: relative;
  background-attachment: fixed;
}
#global-header:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #000000, #383838);
  opacity: 0.8;
}
#global-header .block {
  color: #E3E3E4;
  text-align: left;
  width: 100%;
  display: inline-block;
}
#global-header .block h1 {
   font-family: "Raleway";
  font-weight: 600;
  text-transform: uppercase;
  font-size: 32px;
  padding-bottom: 15px;
  margin-top: 0;
}
#global-header .block p {
  font-size: 16px;
  font-weight: 300;
}
/*--
	portfolio-work Start
--*/
#portfolio-work {
  overflow: hidden;
  padding: 80px 0;
}
#portfolio-work .block .portfolio-menu {

  h3 {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
  }

  padding-bottom: 30px;
  text-align: center;
}
#portfolio-work .block .portfolio-menu ul {
  border: none;
  display: inline-block;
  margin-bottom: 40px;
}
#portfolio-work .block .portfolio-menu ul li {
  display: inline-block;
  padding: 0px 10px;
  cursor: pointer;
  font-size: 13px;
  line-height: 40px;
  font-weight: 300;
  color: #333333;
  text-transform: capitalize;
  position: relative;
}
#portfolio-work .block .portfolio-menu ul .active {
  color: #655E7A;
  position: relative;
}
#portfolio-work .block .portfolio-menu ul .active:before {
  content: "\f0d7";
  position: absolute;
  font-family: 'FontAwesome';
  bottom: -18px;
  font-size: 30px;
  width: 20px;
  left: 0px;
  right: 0px;
  top: 23px;
  margin: 0 auto;
  color: #fff;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#portfolio-work .block .portfolio-menu ul li:hover:before {
  content: "\f0d7";
  position: absolute;
  font-family: 'FontAwesome';
  bottom: -18px;
  font-size: 30px;
  width: 20px;
  left: 0px;
  right: 0px;
  top: 24px;
  margin: 0 auto;
  color: #fff;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#portfolio-work .block .portfolio-contant ul li {
  float: left;
  width: calc(33.33% - 12px);
  overflow: hidden;
  margin: 6px;
  position: relative;
}
#portfolio-work .block .portfolio-contant ul li a {
  display: block;
  color: #fff;
}
#portfolio-work .block .portfolio-contant ul li a h2 {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#portfolio-work .block .portfolio-contant ul li a p {
  font-size: 15px;
}
#portfolio-work .block .portfolio-contant ul li a span {
  font-style: italic;
  font-size: 13px;
  color: #655E7A;
}
#portfolio-work .block .portfolio-contant ul img {
  width: 100%;
  height: auto;
}
#portfolio-work .block .portfolio-contant .overly {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  text-align: center;
}
#portfolio-work .block .portfolio-contant ul li .overly:hover {
  background: rgba(0, 0, 0, 0.8);
}
#portfolio-work .block .portfolio-contant .position-center {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translate(0%, 50%);
  -moz-transform: translate(0%, 50%);
  -ms-transform: translate(0%, 50%);
  transform: translate(0%, 50%);
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
  padding: 10px;
}
#portfolio-work .block .portfolio-contant ul li .position-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
#portfolio-work .block .mix {
  display: none;
}

.discover__more {
  margin: 50px 0;
}

/*--
	wrapper-work Start
--*/
#wrapper-work {
  overflow: hidden;
  padding-top: 100px;
}
#wrapper-work ul li {
  width: 50%;
  float: left;
  position: relative;
}
#wrapper-work ul li img {
  width: 100%;
  height: 100%;
}
#wrapper-work ul li .items-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding-left: 44px;
  padding-top: 140px;
}
#wrapper-work ul li .items-text h2 {
  padding-bottom: 28px;
  padding-top: 75px;
  position: relative;
}
#wrapper-work ul li .items-text h2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 75px;
  height: 3px;
  background: #fff;
}
#wrapper-work ul li .items-text p {
  padding-top: 30px;
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
  padding-right: 80px;
}
/*--
	features-work Start
--*/
#features-work {
  padding-top: 50px;
  padding-bottom: 75px;
}
#features-work .block ul li {
  width: 19%;
  text-align: center;
  display: inline-block;
  padding: 40px 0px;
}
/*---------------------------------------------
					Work Close
-----------------------------------------------*/
/*=============================================*/
/*---------------------------------------------
					 Contact Start
-----------------------------------------------*/
/*--
	slider-contact Start
--*/
#slider-contact {
  background: url("../img/slider-bg.jpg") no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 107px;
  position: relative;
}
#slider-contact:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #928dab, #1f1c2c 70%);
  opacity: 0.8;
}
#slider-contact .block {
  color: #E3E3E4;
  margin: 0 auto;
  padding-left: 90px;
}
#slider-contact .block h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 6px;
  padding-bottom: 15px;
}
#slider-contact .block p {
  font-size: 23px;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 3px;
}
/*--
	contact-form Start
--*/
#contact-form {
  padding-top: 70px;
  padding-bottom: 35px;
}
#contact-form .block form .form-group {
  padding-bottom: 15px;
  margin: 0px;
}
#contact-form .block form .form-group .form-control {
  background: #F6F8FA;
  height: 60px;
  border: 1px solid #EEF2F6;
  box-shadow: none;
  width: 100%;
}
#contact-form .block form .form-group-2 {
  padding-bottom: 15px;
  margin: 0px;
}
#contact-form .block form .form-group-2 textarea {
  background: #F6F8FA;
  height: 135px;
  border: 1px solid #EEF2F6;
  box-shadow: none;
  width: 100%;
}
#contact-form .block button {
  width: 100%;
  height: 60px;
  background: #47424C;
  border: none;
  color: #fff;
  font-size: 18px;
}

#contact-form #skylab-form-success {
  text-align: center;
  background: #f4f4f4;
  padding: 40px;
  border-radius: 10px;
}

#contact-form #skylab-form-error {
  text-align: center;
  background: #fff4f4;
  padding: 10px;
  border-radius: 10px;
  color: #ee0000;
}

/*--
post
--*/
.post {
  h1 {
    margin-bottom: 50px;
  }
}


/*--
	wrapper-contact Start
--*/
.address-block li {
  margin-bottom: 20px;
  position: relative;
  padding-left: 45px;
}
.address-block li i {
  margin-right: 15px;
  font-size: 20px;
  width: 20px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.social-icons {
  margin-top: 40px;
}
.social-icons li {
  display: inline-block;
  margin: 0 6px;
}
.social-icons a {
  display: inline-block;
}
.social-icons i {
  color: #2C2C2C;
  margin-right: 25px;
  font-size: 25px;
}
.google-map {
  position: relative;
}
.google-map #map {
  width: 100%;
  height: 300px;
  background-color: #ff432e;
}
#contact-box {
  padding-top: 35px;
  padding-bottom: 58px;
}
#contact-box .block img {
  width: 100%;
}
#contact-box .block h2 {
  font-weight: 800;
  color: #000;
  font-size: 18px;
  padding-bottom: 30px;
  padding-top: 50px;
  text-transform: uppercase;
}
#contact-box .block p {
  color: #5C5C5C;
  display: block;
}
/*--
	features-contact Start
--*/
#features-contact {
  padding-top: 50px;
  padding-bottom: 75px;
}
#features-contact .block ul li {
  width: 19%;
  text-align: center;
  display: inline-block;
  padding: 40px 0px;
}
/*---------------------------------------------
					Contact Close
-----------------------------------------------*/
/*--------- Heading------------*/
.heading {
  padding-bottom: 60px;
  text-align: center;
}
.heading h2 {
  color: #000;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
}
.heading p {
  font-size: 18px;
  line-height: 40px;
  color: #292929;
  font-weight: 300;
}
/*---------------------------*/
/*--
	footer Start
--*/
footer {
  background: #121212; 
  padding-top: 40px;
}
footer p {
  font-size: 13px;
  line-height: 25px;
  color: #919191;
}
footer a {
  color: #fff;
}
footer .footer-manu {
  padding-bottom: 25px;

}
footer .footer-manu ul {
  margin: 20px 0px;
  padding: 0px;
}
footer .footer-manu ul li {
  display: block;
}
footer .footer-manu ul li a {
  color: #fff;
}
footer .footer-manu ul li a:hover {
  color: #3773FF;
}

footer .footer-content {
  min-height: 200px;
}

footer .skylab-logo {
  width: 114px;
  height: 21px;
  background-size: 114px 21px;
  background-image: url("../img/logo-skylab.svg")
}

footer hr.footer-splitter {
  border-top: 1px solid #444444;
}

footer .oursky-logo {
  width: 114px;
  height: 21px;
  background-size: 114px 21px;
  margin-left: -6px;
  margin-bottom: 6px;
  background-image: url("../img/logo-oursky.svg")
}

footer .oursky-container {
  height: 80px;
}
