@media screen and (max-width: 990px) {

	#sliderImg { 
		background-position: -60vw 60vh;
		background-size: 150vw auto;
	}

	.navbar-default .navbar-toggle {
		padding-top: 0;
		border:0;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}

	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color:none;
	}

	.navbar-default .navbar-nav  {
			li a {
				padding: 8px 0;
			}

			a.cta {
				margin-left: 0;
				text-align: center;
			}
		}

	.slider__herotag__push {
		top:80px;
		transform: translateY(0);
	}
}




@media screen and (max-width: 520px) {

	.navbar-default .navbar-toggle {
		padding-top: 12px;
		border:0;
	}



	header {
		padding: 0;
		position: fixed;
		z-index: 999;
		top:0;
		left: 0;
		width: 100%;

		.by-oursky {
			display: none;
		}

		.navbar-collapse {
			border-top: none;
			box-shadow: none;
		}

		.navbar-default .navbar-toggle {
			margin-top: 7px;
			margin-bottom: 5px;
			margin-right: 0;
		}

		

		.navbar-toggle {
			border: none;
		}

		.navbar-header .logo {
			margin-top: 15px;

			.skylab-logo {
				width: 110px;
				height: 20px;
				background-size: 110px 20px;
			}
		}

	}

	#sliderImg { 
		background-position: -115vw 57vh;
		background-size: 220vw auto;
	}


	#slider .block p {
		line-height: 1.3;
	}

	#intro .desc {
		margin-bottom: 8rem;
	}

	#call-to-action .logo-container {
		font-size: 9px;
	}

	#call-to-action {

		
		text-align: center;
		
		}

	#service p {
		margin-left: 10px;
		margin-right: 10px;
		line-height: 1.6;
	}

	#service .view-all .btn {
		width: 40vw;
	}

	.section-title h2 {
		font-size: 18px;
	}

	#testimonial p {
		margin-left: 10px;
		margin-right: 10px;
		line-height: 1.6;
	}

	#global-header .block {
		padding: 0;
		text-align: center;
	}

	.post-area p {
		font-size: 16px;
		line-height: 1.6;
	}

	#portfolio-work .block .portfolio-menu h3 {
		line-height: 1.5;
	}

	#portfolio-work .block .portfolio-menu ul {
		display: none;
	}

	.stats__block {
		padding-left: 20%;
		padding-right: 20%;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.stats__content {
		text-align: center;
	}

}
